{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
  <section id="admin-users-created" class="flex flex-col items-center">
    <a href="{{ path('admin.index') }}" class="text-lg self-end"><i class="fas fa-home"></i></a>

    <h1 class="text-center text-2xl font-extrabold uppercase my-10">Créer un utilisateur</h1>

    {{ include('/admin/users/_form.html.twig', {button: 'Créer'}) }}
  </section>

{% endblock %}
