{% extends 'base.html.twig' %}

{% block title %}Modifier ma composition{% endblock %}

{% block body %}
  <section id="user-composition-created" class="flex flex-col items-center">
    <a href="{{ path('user.index') }}" class="text-lg self-end"><i class="fas fa-home"></i></a>

    <h1 class="text-center text-2xl font-extrabold uppercase my-10">Modifier ma composition</h1>

    {{ include('/user/composition/_form.html.twig', {button: 'Modifier'}) }}
  </section>

{% endblock %}
